
# Exclude the final kernel images
*.elf
*.bin

# Run files
run.sh
# --- MSYS2 / Windows specific ---
# Exclude potential Windows thumbnail caches or desktop files
Thumbs.db
desktop.ini

# --- Editor Specific ---
# VS Code
.vscode/
# Vim swap files
*.swp
# Logs
*.log
*.sh
# --- Toolchain specific ---
# If you ever generate map files for debugging memory addresses
*.map

build/
